@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

@keyframes startAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to bottom, black, white);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    animation: startAnimation 0.8s ease-in;
}

.bar, .page, .bottom, .settings, .updates {
    background: linear-gradient(to right, black, white);
}

.bar {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.gamewindow {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: none;
    background: none;
}

.page {
    height: 200px;
    width: 600px;
}

.bottom {
    margin-top: auto;
    height: 50px;
}

.text, .textbottom, .linkbottom, .main_title, .title, .games_title, .updatetitle, .updatespage, .message, .settingsstuff {
    color: white;
}

.text {
    font-size: 25px;
    margin-top: 1%;
}

.textbottom {
    font-size: 15px;
    margin-top: 0.5%;
    margin-right: 1%;
}

.linkbottom {
    color: rgb(116, 192, 255);
    font-size: 14px;
    margin-top: 0.5%;
    margin-right: 0.2%;
}

.quick {
    font-size: medium;
}

.setting {
    display: none;
    font-size: 14px;
    position: fixed;
    top: 20px;
}

.title_settings, .settitle {
    color: white;
}

.title_settings {
    font-size: 20px;
    right: 105px;
    margin-top: 3%;
}

.settitle {
    font-size: 18px;
    right: 100px;
    margin-top: 4%;
}

.main_title {
    font-size: 35px;
    padding: 8px;
    padding-left: 8px;
    color: rgba(255, 255, 255, 0.842);
}

.button {
    color: white;
    font-size: 16px;
    position: fixed;
    top: 20px;
    transition-duration: 0.4s;
}

.button:hover {
    color: grey;
}

.games {
    right: 30px;
}

.ytlink {
    right: 100px;
    cursor: pointer;
}

.closegame, .fullscreengame {
    right: 30px;
    cursor: pointer;
    display: none;
}

.ytlink:hover, .tabconfig:hover, .updates_btn:hover, a:hover {
    color: grey;
}

.tabconfig, .updates_btn {
    cursor: pointer;
}

.tabconfig {
    right: 180px;
}

.updates_btn {
    right: 270px;
}

a {
    color: white;
    transition-duration: 0.4s;
    text-decoration: none;
}

.title, .games_title {
    font-size: 90px;
    text-align: center;
    color: rgba(255, 255, 255, 0.842);
}

.title {
    margin-top: 13%;
}

.games_title {
    margin-top: 5%;
}

form input {
    background: none;
    padding: 0 20px;
    height: 50px;
    color: white;
    outline: none;
    width: 400px;
    margin-top: 10px;
    border-radius: 50px;
    border: 5px solid rgba(255, 255, 255, 0.363);
    transition-duration: 1s;
}

form input:focus {
    border-color: rgba(255, 255, 255, 0.712);
}

.settings, .updates {
    width: 350px;
    height: 200px;
    display: none;
}

.closesettings_button {
    position: fixed;
    top: 0;
    right: 50px;
    color: rgb(255, 32, 32);
}

.title_main {
    text-align: center;
    margin-top: 1%;
}

.setTitle, .setIco {
    color: white;
    background: none;
    border: 5px solid rgba(255, 255, 255, 0.363);
    margin-top: 1%;
}

.resetButton {
    width: 20%;
    font-size: large;
    height: 20%;
    border: 3px solid rgba(255, 255, 255, 0.842);
    border-radius: 5px;
    background: white;
    margin-top: 5%;
    cursor: pointer;
    color: black;
}

.quicktext {
    margin-top: 2%;
    color: white;
    display: none;
    cursor: none;
}

.games {
    color: white;
}
